Repository CarSpotterHQ/client, pull requests merged in 2024-11, with the labels that each got.

#1 [CHORE] pr 슬랙 알림 연동 action 추가
  .github/workflows/notify-pr-review.yml
Labels: ⚙️ chore

#3 [CHORE] pr template 추가
  .github/pull_request_template.md
Labels: ⚙️ chore

#2 [CHORE] husky commit, lint rules 추가
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  commitlint.config.cjs
  index.html
  package-lock.json
  package.json
Labels: ⚙️ chore

#4 [CHORE] label, assign github actions 추가
  .github/labeler.yml
  .github/pr_auto_assign_config.yml
  .github/workflows/auto-labeler.yml
  .github/workflows/pr_auto_assign.yml
Labels: ⚙️ chore

#10 [FIX] label actions 정규식 수정
  .github/labeler.yml
Labels: 🐛 fix

#9 [FEAT] api 폴더 구성 및 axios 기본 설정
  api/axiosInstance.ts
  api/user.ts
  package.json
Labels: ⭐️ feat
